:root {

    --lightest: #E79E4F;

    --lighter: #A05344;

    --dark: #734046;

    --darkest: #321F28;

}



* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: 'Jost', sans-serif;

}



/* Splash screen */

.intro {

    position: fixed;

    z-index: 1;

    left: 0;

    top: 0;

    width: 100%;

    height: 100vh;

    background-color: #161616;

    transition: 1s;

}



.logo-header {

    position: absolute;

    top: 45%;

    left: 50%;

    transform: translate(-50%, -50%);

    color: #ffffff;

}



.logo {

    position: relative;

    display: inline-block;

    bottom: -30px;

    opacity: 0;

}



.logo.active {

    bottom: 0px;

    opacity: 1;

    transition: cubic-bezier(0.45, 0, 0.55, 1) 1s;

}



.logo.fade {

    bottom: 150px;

    opacity: 0;

    transition: cubic-bezier(0.45, 0, 0.55, 1) 1s;

}



/* Main view */

.main {

    background-color: var(--lightest);

    height: 100vh;

}



.view {

    position: relative;

    display: flex;

    flex-direction: column;

    justify-content: center;

    padding: 0rem 1.5rem 1rem 1rem;

    text-align: center;

}



.quote {

    padding-bottom: 0.5rem;

}



header {

    position: relative;

    left: 0;

    top: 0;

    width: 100%;

    height: 80px;

    background-color: var(--lightest);

}



header h4 {

    position: absolute;

    color: var(--darkest);

    left: 10%;

    bottom: 1rem;

    font-size: 1.6rem;

}
